@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-brains: var(--font-jetbrains-mono);
}

.font-brains {
  font-family: var(--font-brains);
}

.markdown p {
  line-height: 1.7;
}

.markdown ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.markdown ol {
  margin: 1rem 0;
  padding-left: 1.5rem;
  list-style-type: decimal;
}

.markdown li {
  margin-bottom: 0.5rem;
}

.markdown code:not(pre, pre code)
 {
  font-family: var(--font-mono);
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
  background: #1a251a;
  color: #e2e2e2;
  border-radius: 6px;
}

.markdown pre
 {
  padding: 0.2rem;
  margin: 1rem 0;
  background: #101010;
  border-radius: 0.5rem;
  border: 1px solid #212121;
  scrollbar-color: #202020 #101010;
}

.markdown pre code
 {
  background: #101010;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020202;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
