@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-brains: var(--font-jetbrains-mono);
  --font-inter: var(--font-inter);
}

.font-brains {
  font-family: var(--font-brains);
  font-weight: 200;
}

.markdown p {
  line-height: 1.7;
}

.markdown ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.markdown ol {
  margin: 1rem 0;
  padding-left: 1.5rem;
  list-style-type: decimal;
}

.markdown li {
  margin-bottom: 0.5rem;
  line-height: 1.7;
}

.markdown code:not(pre, pre code) {
  font-family: var(--font-mono);
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
  background: #1a251a;
  color: #e2e2e2;
  border-radius: 6px;
}

.markdown pre {
  padding: 0.2rem;
  margin: 1rem 0;
  background: #101010;
  border-radius: 0.5rem;
  border: 1px solid #212121;
  scrollbar-color: #202020 #101010;
}

.markdown pre code {
  background: #101010;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #ededed;
  }
}

.font-inter {
  font-family: var(--font-inter);
  font-weight: 300;
}


@keyframes needle-swing {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-180deg);}
  100% {transform: rotate(0deg);}
}

@keyframes left-nudge {
  0%, 50%, 100% {transform: translateX(0);}
  25%, 75% {transform: translateX(-250px);}
}

@keyframes right-nudge {
  0%, 50%, 100% {transform: translateX(0);}
  25%, 75% {transform: translateX(250px);}
}

@keyframes blink {
  50% { color: transparent; }
}

#Blink {
  animation: blink 0.4s step-end infinite alternate;
}

#Needle {
  animation: needle-swing 1.5s ease-in-out infinite;
  transform-origin: 1000px 500px;
}

#Left {
  animation: left-nudge 1.5s ease-in-out infinite;
}

#Right {
  animation: right-nudge 1.5s ease-in-out infinite;
}

body {
  background:
    radial-gradient(ellipse 80% 50% at 50% 0%, #1a3a2a70 0%, transparent 70%),
    var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
